[user]
	name = kang
	email = yi1115610574@gmail.com
	signingkey = 716B162E703DA80C
[color]
	ui = always
[core]
	editor = nvim
    pager = delta
	quotepath = false
	excludesfile = ~/.gitignore-global
[help]
	autocorrect = 11
[interactive]
	diffFilter = delta --color-only
[delta]
    syntax-theme = base16-256
    features = line-numbers
[filter "api_key"]
	smudge = sed \"s/api_key.*/api_key =/\"
	clean = sed \"s/api_key.*/api_key =/\"
[commit]
	gpgsign = true
[gpg]
	program = gpg
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[protocol]
	version = 2
[includeIf "gitdir:~/Projects/"]
    path = ~/.gitconfig-work
[diff]
	renames = true
[push]
	autoSetupRemote = true
