[user]
    name = kang
    email = yi1115610574@gmail.com
    signingkey = 716B162E703DA80C
[color]
    ui = auto
[core]
    editor = nvim
    pager = "{                                \
        COLUMNS=$(tput cols);                 \
        if [ $COLUMNS -ge 160 ]; then         \
            delta --side-by-side -w $COLUMNS; \
        else                                  \
            delta;                            \
        fi                                    \
    }"
    quotepath = false
    excludesfile = ~/.gitignore-global
    hooksPath = ~/.config/git/hooks
[help]
    autocorrect = immediate
[interactive]
    diffFilter = delta --color-only
[add.interactive]
    useBuiltin = false
[delta]
    true-color = always
    line-numbers = true
    light = true
    navigate = true
    # unset hunk-label, let navigate skip hunk
    hunk-label
    hyperlinks = true
    # unset hyperlinks-file-link-format, I do not like this feature
    hyperlinks-file-link-format
    ; wrap-max-lines = 10
[filter "api_key"]
    smudge = sed \"s/api_key.*/api_key =/\"
    clean = sed \"s/api_key.*/api_key =/\"
[commit]
    gpgsign = true
    verbose = true
[gpg]
    program = gpg
[filter "lfs"]
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
[protocol]
    version = 2
[includeIf "gitdir:~/Projects/"]
    path = ~/.gitconfig-work
[includeIf "gitdir:~/git-email/"]
    path = ~/git-email/.gitconfig
[diff]
    renames = true
    colorMoved = default
    algorithm = histogram
    submodule = log
[merge]
    conflictstyle = zdiff3
[push]
    autoSetupRemote = true
    default = current
[alias]
    cleanup = !zsh -c --interactive 'gbda' # use onmyzsh function
[gc]
    auto = 0
[rebase]
    autoSquash = true
    autostash = true
[sendemail]
    smtpserver = smtp.gmail.com
    smtpuser = yi1115610574@gmail.com
    smtpencryption = tls
    smtpserverport = 587
[format]
    pretty = fuller
[log]
    date = iso
[blame]
    date = format:%Y-%m-%d
[rerere]
    enabled = true
[url "git@github.com:"]
    pushInsteadOf = https://github.com/
[transfer]
    fsckObjects = true
[fetch]
    fsckObjects = true
[receive]
    fsckObjects = true
[status]
    submoduleSummary = true
