__pycache__/
.zcompdump*
.DS_Store
.oh-my-zsh
.env
Brewfile.lock.json

kitty/.config/kitty/kitty.conf.bak

# Emacs packages
emacs/.emacs.d/elpa/
emacs/.emacs.d/auto-save-list/
navi/.config/navi/navi.log
git/.config/glab-cli/config.yml
k9s/.config/k9s/clusters/
