# Run at 10:00 every day
0 10 * * * /opt/homebrew/bin/brew update && /opt/homebrew/bin/brew upgrade

# Run at 10:05 every day
5 10 * * * ~/.local/bin/cleanup-merged-branches.sh

# Run at 11:00 every day
0 11 * * * /bin/zsh -lc 'cd ~/.dotfiles && brew bundle dump --no-restart --force && make format'

# Run at 11:05 every day
5 11 * * * cd ~/Library/Rime && git pull

# Run at 15:00 every day
0 15 * * * ~/.local/bin/screenshot_all_displays.sh && open ~/Applications/ScreenshotAllDisplays.app

# Run at 11:10 every day
10 11 * * * cd ~/.dotfiles && git submodule update --remote

# Run at 11:31 every Tuesday
31 11 * * 2 cd ~/.config/nvim && git fetch && git rebase origin/master && ~/.local/share/bob/nvim-bin/nvim --headless "+Lazy! restore" +qa
