let mapleader=' '

""" Plugins  --------------------------------
set NERDTree

set easymotion " IdeaVim-EasyMotion
map <Leader> <Plug>(easymotion-prefix)

set quickscope " IdeaVim-Quickscope
set matchit
set highlightedyank

set multiple-cursors
" - start:      `<C-n>`   start multicursor and add a virtual cursor + visual selection on the match
"     + next:   `<C-n>`   add a new virtual cursor + visual selection on the next match
"     + skip:   `<C-s>`   skip the next match
"     + prev:   `<C-p>`   remove current virtual cursor + visual selection and go back on previous match
" - select all: `<S-C-n>` start muticursor and directly select all matches
nmap <C-n> <Plug>NextWholeOccurrence
xmap <C-n> <Plug>NextWholeOccurrence
nmap <C-s> <Plug>SkipOccurrence
xmap <C-s> <Plug>SkipOccurrence
nmap <C-p> <Plug>RemoveOccurrence
xmap <C-p> <Plug>RemoveOccurrence
nmap <S-C-n> <Plug>AllWholeOccurrences
xmap <S-C-n> <Plug>AllWholeOccurrences

set scrolloff=3
set hlsearch
set incsearch
set ignorecase
set smartcase
set showmode
set number
set relativenumber
set clipboard=unnamed,unnamedplus
set clipboard+=ideaput
set visualbell
set noerrorbells

""" IDEA specific settings ------------------
set ideajoin
set idearefactormode=keep
set ideastatusicon=gray

" key mapping
nmap <C-l>     :nohlsearch<CR>
nmap <Leader>e :NERDTree<CR>
nmap <Leader>n :NERDTreeFind<CR>
map  <C-j>     <Action>(GotoNextError)
map  <C-k>     <Action>(GotoPreviousError)
map  <C-c>     <Action>(CloseAllEditorsButActive)
map  <C-S-r>   <Action>(FileStructurePopup)
xmap <Leader>o :action uk.co.ben_gibson.git.link.ui.actions.menu.BrowserAction<CR>
nmap <Leader>o :action uk.co.ben_gibson.git.link.ui.actions.menu.BrowserAction<CR>
nmap \w        :action EditorToggleUseSoftWraps<CR>
nmap <C-w>_    :action MaximizeEditorInSplit<CR>
imap <C-k>     :action ParameterInfo<CR>

" 在normal模式保持英文状态
set keep-english-in-normal

"在normal模式保持英文状态,并在回到insert时恢复输入法到原来的状态.例如,编写一段中文注释,用中文输入法写了一段文字,进入normal模式移动光标到下一行,再回到插入模式继续使用中文编辑.
"set keep-english-in-normal-and-restore-in-insert

" Configuring conflicting keys from https://github.com/JetBrains/ideavim/blob/master/doc/sethandler.md
" insert mode some keys use emacs mode
sethandler <C-E> i:ide
sethandler <C-A> i:ide
sethandler <C-F> i:ide
sethandler <C-B> i:ide
sethandler <C-D> i:ide
