let mapleader=' '

set scrolloff=3
set hlsearch
set incsearch
set ignorecase
set smartcase
set showmode
set number
set relativenumber

""" Idea specific settings ------------------
set ideajoin
set idearefactormode=keep

" 快速进入vim模式
inoremap kk <Esc>A

" 清除高亮搜索
nnoremap <Leader>k :nohlsearch<CR>
nnoremap <Leader>n :action SelectInProjectView<CR>

" 在normal模式保持英文状态
set keep-english-in-normal

"在normal模式保持英文状态,并在回到insert时恢复输入法到原来的状态.例如,编写一段中文注释,用中文输入法写了一段文字,进入normal模式移动光标到下一行,再回到插入模式继续使用中文编辑.
"set keep-english-in-normal-and-restore-in-insert

" Configuring conflicting keys from https://github.com/JetBrains/ideavim/blob/master/doc/sethandler.md
sethandler <C-E> i:ide
sethandler <C-A> i:ide
sethandler <C-F> i:ide
sethandler <C-B> i:ide
