let mapleader=' '

""" Plugins  --------------------------------
set NERDTree
set easymotion " IdeaVim-EasyMotion
map <Leader> <Plug>(easymotion-prefix)
set quickscope " IIdeaVim-QuickscopedeaVim-Quickscope
set matchit


set scrolloff=3
set hlsearch
set incsearch
set ignorecase
set smartcase
set showmode
set number
set relativenumber
set clipboard=unnamed,unnamedplus
set clipboard+=ideaput

""" IDEA specific settings ------------------
set ideajoin
set idearefactormode=keep

" key mapping
nnoremap <C-l> :nohlsearch<CR>
nnoremap <Leader>e :NERDTree<CR>
nnoremap <Leader>n :NERDTreeFind<CR>
map <C-j> <Action>(GotoNextError)
map <C-k> <Action>(GotoPreviousError)
map <C-c> <Action>(CloseAllEditorsButActive)
map <C-S-r> <Action>(FileStructurePopup)
xnoremap <Leader>o :action uk.co.ben_gibson.git.link.ui.actions.menu.BrowserAction<CR>
nnoremap <Leader>o :action uk.co.ben_gibson.git.link.ui.actions.menu.BrowserAction<CR>
nnoremap \w :action EditorToggleUseSoftWraps<CR>
nnoremap <C-w>_ :action MaximizeEditorInSplit<CR>
inoremap <C-k> :action ParameterInfo<CR>

" 在normal模式保持英文状态
set keep-english-in-normal

"在normal模式保持英文状态,并在回到insert时恢复输入法到原来的状态.例如,编写一段中文注释,用中文输入法写了一段文字,进入normal模式移动光标到下一行,再回到插入模式继续使用中文编辑.
"set keep-english-in-normal-and-restore-in-insert

" Configuring conflicting keys from https://github.com/JetBrains/ideavim/blob/master/doc/sethandler.md
" insert mode some keys use emacs mode
sethandler <C-E> i:ide
sethandler <C-A> i:ide
sethandler <C-F> i:ide
sethandler <C-B> i:ide
sethandler <C-D> i:ide
