name: Lint

on: push

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Spell Check Repo
        uses: crate-ci/typos@v1.44.0
      - uses: denoland/setup-deno@v2
        with:
          deno-version: 2.6.8 # Run with latest stable Deno.
      - run: deno fmt --check
