name: Lint

on: push

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Spell Check Repo
        uses: crate-ci/typos@v1.39.2
      - uses: denoland/setup-deno@v2
        with:
          deno-version: 2.5.6 # Run with latest stable Deno.
      - run: deno fmt --check
